@font-face {
    font-family: 'mls_2020plain';
    src: url('fonts/mls_2020/mls_2020-webfont.woff2') format('woff2'),
         url('fonts/mls_2020/mls_2020-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.mlsfont {
    font-family: 'mls_2020plain', sans-serif;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
img {
    touch-action: manipulation;
}
#modal img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}
#progressBarContainer {
    width: 600px;
    margin: 0 auto;
}
p {
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
}
body {
    background-color: #FFFFFF;
    color: #000000;
}
#mainTable {
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    vertical-align: top;
    width: 650px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px 5px;
}
#resultsContainer {
    position: absolute;
    left: -9999px;
    top: 0;
}

#leftField, #rightField {
    width: 320px;
    height: 330px;
}
.middleField {
    width: 10px;
    height: 420px;
    border: 1px solid #00025d;
}
.gerbear {
    width: 120px;
    height: 70px;
}
a {
    text-decoration: none;
}
a:hover {
    color: #0042ff;
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}
.kit-thumb {
    width: 300px;
    height: 300px;
    object-fit: contain;
    display: block;    
    margin: 0 auto;    
}
